* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  color: var(--text);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Inter, Arial, sans-serif;
  padding: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url("/Users/khoi/Documents/Checkin app Dai Hoi/Checkin 9 (autofill no)/background qr.png") center/cover no-repeat;
}

.card {
  width: 100%;
  max-width: 800px;
  background: rgba(174, 174, 174, 0.624);
  color: var(--text);
  text-align: center;
  font: bold sans-serif;
  font-weight: 350;
  line-height: 1.5;
  border: 1px snow var(--border);
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 18px 48px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0 0 6px;
  font-size: 38px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
}

h2 {
  font-size: 22px; /* Adjust font size as needed */
  line-height: 1.4;
  white-space: nowrap; /* Prevent line breaks */
  word-wrap: normal; /* Disable word wrapping */
  text-align: center; /* Center the title */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent overflow */
}

p.lead {
  text-align: center;
  color: rgba(rgba(244, 226, 226, 0.882));
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
}

label {
  display: block;
  margin: 16px 0 8px;
  font-weight: 500;
  line-height: 1.5;
}

input[type="text"] {
  width: 100%;
  padding: 14px 16px;
  border-radius: 16px;
  border: 1px snow var(--border);
  background: #3c5c8447;
  color: var(--text);
  font-size: 16px;
  outline: none;
}

input[type="text"]::placeholder {
  color: #34404b91;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

button {
  display: inline-block;
  margin-top: 18px;
  padding: 12px 18px;
  border-radius: 12px;
  background: #103c65cf;
  border: 1px snow var(--border);
  color: var(--text);
  font-size: 16px;
  cursor: pointer;
}

button[disabled] {
  opacity: .6;
  cursor: default;
}

#result {
  margin-top: 18px;
}

.ok,
.warn,
.err {
  border-radius: 16px;
  padding: 12px;
  border: 1px solid;
  background: #0f1720;
}

.ok {
  background: rgba(12, 133, 56, 0.85);  /* green */
  color: #fff;
}

.err {
  background: rgba(204, 16, 16, 0.771);  /* red */
  color: #fff;
}

.warn {
  background: rgba(152, 53, 41, 0.85); /* orange */
  color: #fff;
}

/* Responsive design */
@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  button {
    font-size: 14px;
  }

  .card {
    padding: 20px;
  }
}
